type localupdater_app, domain, coredomain;

app_domain(localupdater_app)

binder_call(localupdater_app, gpuservice)
binder_call(localupdater_app, update_engine)

allow localupdater_app app_api_service:service_manager find;
allow localupdater_app recovery_service:service_manager find;
allow localupdater_app system_api_service:service_manager find;
allow localupdater_app update_engine_service:service_manager find;

allow localupdater_app app_data_file:dir create_dir_perms;
allow localupdater_app app_data_file:{ file lnk_file } create_file_perms;

allow localupdater_app cache_file:dir r_dir_perms;

allow localupdater_app cache_recovery_file:dir rw_dir_perms;
allow localupdater_app cache_recovery_file:file create_file_perms;

allow localupdater_app ota_package_file:dir create_dir_perms;
allow localupdater_app ota_package_file:file create_file_perms;

get_prop(localupdater_app, default_prop)
get_prop(localupdater_app, exported2_default_prop)

# LocalUpdater specific
allow localupdater_app update_history_file:file rw_file_perms;
