type hal_lineage_powershare_service, service_manager_type, vendor_service;
type hal_lineage_health_service, vendor_service, hal_service_type, service_manager_type;
